html {
	width: 400px;
}
body {
	width: 400px;
	background-color: black;
	color: #EA270E;
	text-align: center;
	font-family: 'Creepster', cursive;
	font-size: 125%;
}

h1 {
	font-size: 150%;
}

.fright_button {
	background-color:#000000;
	border:4px solid #6d00a3;
	display:inline-block;
	cursor:pointer;
	color:#EA270E;
	font-family: 'Creepster', cursive;
	font-size:15px;
	padding:9px 9px;
	margin-bottom: 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	transition: all 0.5s ease 0s;
}
.fright_button:hover {
	background-color:#ff8400;
	color: black;
}
.fright_button:active {
	position:relative;
	top:1px;
}

#frighty_stuff{
	text-align: left;
	-webkit-animation:slide 6s linear infinite;
	animation:slide 6s linear infinite;
	padding-bottom: 15px;
}
#david {
	-webkit-animation:shake 3s linear infinite;
	animation:shake 3s linear infinite;
}
@-webkit-keyframes shake { 
	0% { -webkit-transform: rotate(0deg); } 
	25% { -webkit-transform: rotate(45deg); } 
	75% { -webkit-transform: rotate(-45deg); } 
}
@keyframes shake { 
	0% { transform: rotate(0deg); } 
	25% { transform: rotate(45deg); } 
	75% { transform: rotate(-45deg); } 
}
@-webkit-keyframes slide { 
	0%   { -webkit-transform: translate(0%); }
	50%  { -webkit-transform: translate(48%);}
	100% { -webkit-transform: translate(0%); }
}
@keyframes slide { 
	0%   { transform: translate(0%); }
	50%  { transform: translate(48%);}
	100% { transform: translate(0%); }
}
